ipywidgets==7.6.3
timm==0.3.4
scikit-learn==0.24.1
omegaconf==2.0.6
icevision[all]==0.6.0b1
icedata==0.2.0
wandb==0.10.13
gradio==1.5.3
#-v --disable-pip-version-check --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" git+git://github.com/NVIDIA/apex

